html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(171, 72, 72, 0);
}

::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #424242;
}